doctype html
html(lang='en').
    <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width,initial-scale=1">
            <title>Universal Student Collective</title>
            <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Satisfy" >
            <link rel="stylesheet" type="text/css" href="/stylesheets/mainStyle.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="/stylesheets/loginCSS.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="leftForm">
            Log In
            <form>
                Username:<br>
                <input type="text" name="user"><br>
                Password:<br>
                <input type="text" name="password">
            </form>
        </div>
        <div class="rightForm">
            Sign Up
            <form>
                Username:<br>
                <input type="text" name="user"><br>
                Password:<br>
                <input type="text" name="password"><br>
                Email Address:<br>
                <input type="text" name="email">
            </form>
        </div>
    </body>
    </html>