doctype html
html(lang='en').
    <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width,initial-scale=1">
            <title>Universal Student Collective</title>
            <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Satisfy" >
            <link rel="stylesheet" type="text/css" href="/stylesheets/mainStyle.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="/stylesheets/loginCSS.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="leftForm">
            Log In
            <form>
                Username:<br>
                <input type="text" name="user"><br>
                Password:<br>
                <input type="text" name="password">
            </form>
        </div>
        <div class="rightForm">
            Sign Up
            <form>
                First Name:<br>
                <input type="text" name="firstname"><br>
                Last Name:<br>
                <input type="text" name="lastname"><br>
                Email:<br>
                //Need to add some sort of filter to make sure only .edu emails can get through.
                <input type="text" name="email"><br>
                Password:<br>
                <input type="text" name="password"><br>
                College Name:<br>
                <input type="text" name="college"><br>
                City:<br>
                <input type="text" name="city"><br>
                Diet Restrictions:<br>
                <input type="text" name="diet"><br>
                Allergies:<br>
                <input type="radio" name="allergies" value="true">Yes<br>
                <input type="radio" name="allergies" value="false" checked>No<br>
                <div class="reveal-if-active">
                //Should be hidden until Yes value is checked.
                    <input type="text" name="allergies"><br>
                </div>
                Pets:<br>
                Dog(s): <input type="text" name="dog"><br>
                Cat(s): <input type="text" name="cat"><br>
                Other: <input type="text" name="pet"><br>
                Ride Share Driver?<br>
                <input type="radio" name="driver" value="true" checked>Yes<br>
                <input type="radio" name="driver" value="false">No
            </form>
        </div>
    </body>
    </html>