extends layout_navigation

block content
  
    .wrapper.wrapperying
      .container-fluid
        .row.rowying
          .col-md-2
            .thumbnail.tileying.tile-medium.tile-asbestos
              a(href="/rides")
                h1 Driver Service
          |                 
          .col-md-2
            .thumbnail.tileying.tile-medium.tile-asbestos
              a(href="/goods")
                h1 Goods Exchange
          |                 
          .col-md-2
            .thumbnail.tileying.tile-medium.tile-asbestos
              a(href="/pets")
                h1 Pets
          |                 
          .col-md-2
            .thumbnail.tileying.tile-medium.tile-asbestos
              a(href="#")
                h1 Events
          |                 
          .col-md-2
            .thumbnail.tileying.tile-medium.tile-asbestos
              a(href="#")
                h1 Carrer Workshop
        |             
        .row.rowying
          .col-md-2
            .thumbnail.tileying.tile-medium.tile-asbestos
              a(href="#")
                h1 Meal Sharing
          |                 
          .col-md-2
            .thumbnail.tileying.tile-medium.tile-asbestos
              a(href="#")
                h1 Study Group
          |                 
          .col-md-2
            .thumbnail.tileying.tile-medium.tile-asbestos
              a(href="#")
                h1 Alumnae
          |                 
          .col-md-2
            .thumbnail.tileying.tile-medium.tile-asbestos
              a(href="#")
                h1 Information Center
          |                 
          .col-md-2
            .thumbnail.tileying.tile-medium.tile-asbestos
              a(href="#")
                h1 Sharing


