doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title Universal Student Collective
		meta(name='viewport', content='width=device-width,initial-scale=1')
		link(href='https://fonts.googleapis.com/css?family=Satisfy', rel='stylesheet', type='text/css')
		link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
		style.
			.mainFont {
				font-family: 'Satisfy', cursive;
			}
			.navbar-brand {
				font-family: 'Satisfy', cursive;
				font-size: 24px;
			}
			.nav {
				font-size: 16px;
			}
			.bodyMain {
				background-color: #55c6c5;
			}
			.wrapper {
				margin-top: 80px;
				margin-bottom: 20px;
			}
			.mainForm {
				position: relative;
				width: 800px;
				padding: 30px 38px 66px;
				left: 50%;
				top: 40%;
				position: absolute;
				-webkit-transform: translate3d(-50%, -50%, 0);
				-moz-transform: translate3d(-50%, -50%, 0);
				transform: translate3d(-50%, -50%, 0);
				background-color: white;
				border-radius: 10px;
				text-align: center;
			}
			.mainForm2 {
				position: relative;
				width: 800px;
				padding: 30px 38px 66px;
				left: 50%;
				top: 40%;
				position: absolute;
				-webkit-transform: translate3d(-50%, -50%, 0);
				-moz-transform: translate3d(-50%, -50%, 0);
				transform: translate3d(-50%, -50%, 0);
				background-color: white;
				border-radius: 10px;
			}
			.mainFormHeading {
				font-family: 'Satisfy', cursive;
				font-size: 120px;
				margin-top: 30px;
				font-size: 80px;
				text-align: center;
			}
			.form-control {
				position: relative;
				font-size: 16px;
				height: auto;
				padding: 10px;
			}
			hr {
				margin-top: 50px;
			}
			#pet {
				text-align: center;
			}
			.petform {
				font-size: 16px;
				height: 34px;
				padding: 6px 12px 6px 12px;
			}
			.colorgraph {
				height: 7px;
				border-top: 0px;
				background: #c4e17f;
				border-radius: 5px;
				background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
				background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
				background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
				background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
			}
			ul.nav li.dropdown:hover ul.dropdown-menu {
				display: block;
				background-color: gray;
			}
	body.bodyMain
		nav#GrayMenu.navbar.navbar-default.navbar-fixed-top.col-md-12
			.container-fluid
				.col-md-3.navbar-header.navbar-left
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='#MainNavBar')
						span.icon-bar(style='background-color:white')
						span.icon-bar(style='background-color:white')
						span.icon-bar(style='background-color:white')
					a.navbar-brand(style='color: white', href='#') Universal Student Collective
				.col-md-6
					span.input-group
						form.navbar-form.navbar-left(role='search', method='get', action='')
							.form-group
								input#searchBox.form-control(type='text', name='q', value='')
								| #{'   '}
								button.btn.btn-default(type='submit')
									span#searchButton.glyphicon.glyphicon-search
							| #{' '}
							button#findButton.btn.btn-outline-secondary.text-center(type='submit')
								span#findButtonSpan.glyphicon.glyphicon-globe
							| #{' '}
							button.btn.btn-outline-secondary.text-center(type='submit')
								span#offerButton.glyphicon.glyphicon-briefcase
							| #{' '}
				.nav.navbar-nav.navbar-right.centerMe
					.btn-group.centerMe
						button.btn.btn-secondary(type='button') Notifications
						button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') My Account
						#dropdownMenu.dropdown-menu
							ul(style='list-style: none;')
								li
									a.dropdown-item(href='') Account
								li
									a.dropdown-item(href='#') Refer Someone
								li
									a.dropdown-item(href='#') Contact Us
								li
									a.dropdown-item(href='#') Sign Out
		hr.colorgraph
		#leftNavBar.col-med-3.leftNavBar
			br
			p(style='font-size: 18px; ')
				strong Services
			hr.navLine
			span(style='text-align: center')
				ul.navList(style='list-style-type:none')
					li
						a(href='#', style='font-size: 16px;') Events
					li
						a(href='#', style='font-size: 16px;') Meal Exchange
					li
						a(href='/goods', style='font-size: 16px;') Goods
					li
						a(href='/pets', style='font-size: 16px;') Pet Services
					li
						a(href='/rides', style='font-size: 16px;') Ride Share
		#leftSubNavBar.leftSubNavBar
			p#foodExchange(style='font-size: 16px;')
				strong Meal Exchange
			hr#leftSub
			ul.nav.nav-tabs
				li
					a(data-toggle='tab', href='#1a') Find
				li.active
					a(data-toggle='tab', href='#1b') Offer
			.tab-content
				#1a.tab-pane.fade
					.row
						label My Location:
						input
						label Meal:
						select
							option(value='breakfast') Breakfast
							option(value='brunch') Brunch
							option(value='lunch') Lunch
							option(value='soiree') Soirée
							option(value='dinner') Dinner
					.row
						form(action='')
							strong Date:
							input(type='date', name='date')
							label Type:
							select
								option(value='sit-down') Sit-down
								option(value='togo') To-go
					.row
						form(action='')
							label Cost:
							select
								option(value='free') Free
								option(value='volunteer') Volunteer
								option(value='0to5') $[0-5]
								option(value='5to10') $$[5-10]
								option(value='10plus') $$$[10+]
							label Alergies
							input(type='radio', name='yes', value='yes')
							|  Yes
							input(type='radio', name='no', value='no')
							|  No
					.row
						form(action='')
							label Dietary Preference:
							br
							input(type='checkbox', name='location', value='Vegan')
							|  Vegan
							input(type='checkbox', name='location', value='Vegetarian')
							|  Vegetarian
							input(type='checkbox', name='location', value='Gluten-Free')
							|  Gluten-Free
							br
							input(type='checkbox', name='location', value='Paleo')
							|  Paleo
							input(type='checkbox', name='location', value='Organic')
							|  Organic
							input(type='checkbox', name='location', value='LocallyGrown')
							|  Locally Grown
							input(type='checkbox', name='location', value='Other')
							|  Other
					.row
						form(action='')
							label Meal Location:
							br
							input(type='checkbox', name='location', value='University')
							|  University
							input(type='checkbox', name='location', value='Neighborhood')
							|  Neighborhood
							input(type='checkbox', name='location', value='City')
							|  City
							br
							input(type='checkbox', name='location', value='Region')
							|  Region
							input(type='checkbox', name='location', value='State')
							|  State
							input(type='checkbox', name='location', value='Country')
							|  Country
							input(type='checkbox', name='location', value='World')
							|  World
					.row
						button#leftSubNavBarButton.btn.btn-submit.text-center(type='submit') Find
				#1b.tab-pane.fade.in.active
					.row
						label Title:
						input(size='46')
					.row
						label My Location:
						input
						label Meal:
						select
							option(value='breakfast') Breakfast
							option(value='brunch') Brunch
							option(value='lunch') Lunch
							option(value='soiree') Soirée
							option(value='dinner') Dinner
					.row
						form(action='')
							strong Date:
							input(type='date', name='date')
							label Type:
							select
								option(value='sit-down') Sit-down
								option(value='togo') To-go
					.row
						form(action='')
							label Cost:
							select
								option(value='breakfast') Free
								option(value='brunch') Volunteer
								option(value='lunch') $[0-5]
								option(value='soiree') $$[5-10]
								option(value='dinner') $$$[10+]
							label Alergies
							input(type='radio', name='yes', value='yes')
							|  Yes
							input(type='radio', name='no', value='no')
							|  No
					.row
						form(action='')
							label Dietary Options:
							br
							input(type='checkbox', name='location', value='Vegan')
							|  Vegan
							input(type='checkbox', name='location', value='Vegetarian')
							|  Vegetarian
							input(type='checkbox', name='location', value='Gluten-Free')
							|  Gluten-Free
							br
							input(type='checkbox', name='location', value='Paleo')
							|  Paleo
							input(type='checkbox', name='location', value='Organic')
							|  Organic
							input(type='checkbox', name='location', value='LocallyGrown')
							|  Locally Grown
							input(type='checkbox', name='location', value='Other')
							|  Other
					.row
						form(action='')
							label Meal Location:
							br
							input(type='checkbox', name='location', value='University')
							|  University
							input(type='checkbox', name='location', value='Neighborhood')
							|  Neighborhood
							input(type='checkbox', name='location', value='City')
							|  City
							br
							input(type='checkbox', name='location', value='Region')
							|  Region
							input(type='checkbox', name='location', value='State')
							|  State
							input(type='checkbox', name='location', value='Country')
							|  Country
							input(type='checkbox', name='location', value='World')
							|  World
					.row
						label Description:
						input#offerDescription
					.row
						button#offer.btn.btn-submit.text-center(type='submit') Offer
		#rightNavBar.col-med-3.rightNavBar
			img#map(src='map.png')
		#rightSubNavBar.col-med-3.rightSubNavBar
			br
			p(style='font-size: 18px;')
				strong Notifications
			hr.navLine
		.col-med-6.navFeed

