<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <title>Universal Student Collective</title>
    
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Satisfy" >
    <link rel="stylesheet" type="text/css" href="mainStyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    //The 3 below were originally at the bottom of the doc
    <script src="jquery-3.1.1.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="mainJS.js" type="text/javascript"></script>
</head>

<body class="bodyMain">
    
<!--Beginning of Main Navigation Bar-->   
//remove the negative margins by adding no-gutter
<nav id="GrayMenu" class="navbar navbar-default navbar-fixed-top col-md-12">
    <div class="row container-fluid">
        <div id="uniStuCoContainer" class="col-md-3 navbar-header navbar-left ">
            <button type="button" data-toggle="collapse" data-target="#MainNavBar" class="navbar-toggle">
                <span style="background-color:white" class="icon-bar"></span>
                <span style="background-color:white" class="icon-bar"></span>
                <span style="background-color:white" class="icon-bar"></span>
            </button>
            <a href="#" id="uniStuCoHeader">Universal Student Collective</a>
        </div>

  <!--Beginning of Search Field + Buttons Container--> 
        <div class="col-md-6">
            <span class="input-group">
            <form role="search" method="get" action="" class="navbar-form navbar-left">
              <div class="form-group">
                  
                <!--Search Field Box-->  
               
                <input id="searchBox" type="text" name="q" value="">
                  
                <!--Search Field Button-->     
                  
                <button type="submit" class="btn btn-default">
                    <span id="searchButton" class="glyphicon glyphicon-search"></span>
                </button>
              </div>
                
              <!--Find Services Button-->  
                
              <button id="findButton" type="submit" class="btn btn-outline-secondary text-center">
                  <span id="findButtonSpan" class="glyphicon glyphicon-globe"></span>
              </button>
                
              <!--Offer Services Button--> 
                
              <button type="submit" class="btn btn-outline-secondary text-center">
                  <span id="offerButton" class="glyphicon glyphicon-briefcase"></span>
              </button>
            </form>
            </span>
        </div>   
    <!--End of Search Field + Buttons Container-->  
        
        <div class="nav navbar-nav navbar-right centerMe">
            <div class="btn-group centerMe">
                <button type="button" class="btn btn-secondary">Notifications</button>
                <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-secondary dropdown-toggle">My Account</button>
                <div class="dropdown-menu" id="dropdownMenu">
                    <ul style="list-style: none;">
                        <li><a href class="dropdown-item">My Account</a></li>
                        <li><a href="#" class="dropdown-item">Refer A Friend</a></li>
                        <li><a href="#" class="dropdown-item">Contact Us</a></li>
                        <li><a href="#" class="dropdown-item">Sign Out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div id="subNavContainer" class="row">
        <ul id="subNavList">
            <li id="eventsMenu" ><a href="#">Events</a></li>
            <li id="mealMenu"><a href="#">Meal Share</a></li>
            <li id="goodsMenu"><a href="#">Goods Exchange</a></li>
            <li id="petsMenu"><a href="#">Pet Services</a></li>
            <li id="ridesMenu"><a href="#">Ride Share</a></li>
        </ul>
    </div>
<!--End of Main Navigation Bar-->



<!--Beginning of Lower Left Navigation Bar-->
<div id="leftSubNavBar" class="leftSubNavBar">

    <!--Beginning of Meal Tab-->
    <div id="mealTab">
        <p id="foodExchange" style="font-size: 16px;"><strong>Meal Share</strong></p>
        <hr id="leftSub">
        <ul class="nav nav-tabs">
            <li>
                <a data-toggle="tab" href="#1a" >Find</a>
            </li>
        
            <li class="active">
                <a data-toggle="tab" href="#1b" >Offer</a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="1a" class="tab-pane fade">
                <div class="row">
                    <label>My Location:</label>
                    <input>
                    <label>Meal:</label>
                    <select>
                        <option value="breakfast">Breakfast</option>
                        <option value="brunch">Brunch</option>
                        <option value="lunch">Lunch</option>
                        <option value="soiree">Soirée</option>
                        <option value="dinner">Dinner</option>
                    </select>
                </div>
                
                <div class="row">
                    <form action=""><strong>Date:</strong>
                        <input type="date" name="date">
                        <label>Type:</label>
                        <select>
                            <option value="sit-down">Sit-down</option>
                            <option value="take-out">Take-out</option>
                        </select>
                    </form>
                </div>
                
                <div class="row">
                    <form action="">
                        <label>Cost:</label>
                        <select>
                            <option value="free">Free</option>
                            <option value="volunteer">Volunteer</option>
                            <option value="1to5">$[1-5]</option>
                            <option value="5to10">$$[5-10]</option>
                            <option value="10plus">$$$[10+]</option>
                        </select>
                        <label>Allergies</label>
                        <input type="radio" name="yes" value="yes"> Yes
                        <input type="radio" name="no" value="no"> No
                    </form>
                </div>
                
                <div class="row">
                    <form action="">
                        <label>Dietary Preference:</label><br>
                        <input type="checkbox" name="location" value="Vegan"> Vegan
                        <input type="checkbox" name="location" value="Vegetarian"> Vegetarian
                        <input type="checkbox" name="location" value="Gluten-Free"> Gluten-Free<br>
                        <input type="checkbox" name="location" value="Paleo"> Paleo
                        <input type="checkbox" name="location" value="Organic"> Organic
                        <input type="checkbox" name="location" value="LocallyGrown"> Locally Grown
                        <input type="checkbox" name="location" value="Other"> Other
                    </form>
                </div>
                
                <div class="row">
                    <form action="">
                        <label>Meal Location:</label><br>
                        <input type="checkbox" name="location" value="University"> University
                        <input type="checkbox" name="location" value="Neighborhood"> Neighborhood
                        <input type="checkbox" name="location" value="City"> City<br>
                        <input type="checkbox" name="location" value="Region"> Region
                        <input type="checkbox" name="location" value="State"> State
                        <input type="checkbox" name="location" value="Country"> Country
                        <input type="checkbox" name="location" value="World"> World
                    </form>
                </div>
                
                <div class="row">
                    <button id="leftSubNavBarButton" type="submit" class="btn btn-submit text-center">Find</button>
                </div>
                
            </div>
            <div id="1b" class="tab-pane fade in active">
                <div class="row">
                    <label>Title:</label>
                    <input size="46">
                </div>
                
                <div class="row">
                    <label>My Location:</label>
                    <input>
                    <label>Meal:</label>
                    <select>
                        <option value="breakfast">Breakfast</option>
                        <option value="brunch">Brunch</option>
                        <option value="lunch">Lunch</option>
                        <option value="soiree">Soirée</option>
                        <option value="dinner">Dinner</option>
                    </select>
                </div>

                <div class="row">
                    <form action="">
                        <strong>Date:</strong>
                        <input type="date" name="date">
                        <label>Type:</label>
                        <select>
                            <option value="sit-down">Sit-down</option>
                            <option value="take-out">Take-out</option>
                        </select>
                    </form>
                </div>

                <div class="row">
                    <form action="">
                        <label>Cost:</label>
                        <select>
                            <option value="breakfast">Free</option>
                            <option value="brunch">Volunteer</option>
                            <option value="lunch">$[1-5]</option>
                            <option value="soiree">$$[5-10]</option>
                            <option value="dinner">$$$[10+]</option>
                        </select>
                        <label>Alergies</label>
                        <input type="radio" name="yes" value="yes"> Yes
                        <input type="radio" name="no" value="no"> No
                    </form>
                </div>
                
                <div class="row">
                    <form action="">
                        <label>Dietary Options:</label><br>
                        <input type="checkbox" name="location" value="Vegan"> Vegan
                        <input type="checkbox" name="location" value="Vegetarian"> Vegetarian
                        <input type="checkbox" name="location" value="Gluten-Free"> Gluten-Free<br>
                        <input type="checkbox" name="location" value="Paleo"> Paleo
                        <input type="checkbox" name="location" value="Organic"> Organic
                        <input type="checkbox" name="location" value="LocallyGrown"> Locally Grown
                        <input type="checkbox" name="location" value="Other"> Other
                    </form>
                </div>
                
                <div class="row">
                    <form action="">
                        <label>Meal Location:</label><br>
                        <input type="checkbox" name="location" value="University"> University
                        <input type="checkbox" name="location" value="Neighborhood"> Neighborhood
                        <input type="checkbox" name="location" value="City"> City<br>
                        <input type="checkbox" name="location" value="Region"> Region
                        <input type="checkbox" name="location" value="State"> State
                        <input type="checkbox" name="location" value="Country"> Country
                        <input type="checkbox" name="location" value="World"> World
                    </form>
                </div>
                
                <div class="row">
                    <label>Description:</label>
                    <input id="offerDescription" >
                </div>
                
                <div class="row">
                    <button id="offer" type="submit" class="btn btn-submit text-center">Offer</button>
                </div>
            </div>
        </div>
    </div>
    <!--End of Meal Tab-->

    <!--&lt;!&ndash;Beginning of Events Tab&ndash;&gt;-->

    <!--<div id="eventsTab" style="display:none">-->
    <!--<p id="foodExchange" style="font-size: 16px;"><strong>Events</strong></p>-->
    <!--<hr id="leftSub">-->
    <!--<ul class="nav nav-tabs">-->
    <!--<li><a data-toggle="tab" href="#2a">Find</a></li>-->
    <!--<li class="active"><a data-toggle="tab" href="#2b">Offer</a></li>-->
    <!--</ul>-->

    <!--<div class="tab-content">-->
    <!--<div id="2a" class="tab-pane fade">-->
    <!--<div class="row">-->
    <!--</div>-->
    <!--<div class="row">-->
    <!--<button id="leftSubNavBarButton2" type="submit" class="btn btn-submit text-center">Find</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="tab-content">-->
    <!--<div id="2b" class="tab-pane fade in active">-->
    <!--<div class="row">-->
    <!--</div>-->
    <!--<div class="row">-->
    <!--<button id="offer2" type="submit" class="btn btn-submit text-center">Offer</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash;End of Events Tab&ndash;&gt;-->

    <!--&lt;!&ndash;Beginning of Goods Tab&ndash;&gt;-->

    <!--<div id="goodsTab" style="display:none">-->
    <!--<p id="foodExchange" style="font-size: 16px;"><strong>Goods</strong></p>-->
    <!--<hr id="leftSub">-->
    <!--<ul class="nav nav-tabs">-->
    <!--<li><a data-toggle="tab" href="#3a" >Find</a></li>-->
    <!--<li class="active"><a data-toggle="tab" href="#3b" >Offer</a></li>-->
    <!--</ul>-->

    <!--<div class="tab-content">-->
    <!--<div id="3a" class="tab-pane fade">-->
    <!--<div class="row">-->
    <!--<label>My Location:</label>-->
    <!--<input><br>-->
    <!--<label>Items:</label>-->
    <!--<select>-->
    <!--<option value="breakfast">Electronics and Office Supplies</option>-->
    <!--<option value="brunch">Movie, Music, Books</option>-->
    <!--<option value="lunch">Health and Beauty</option>-->
    <!--<option value="soiree">Clothing, Shoe, and Jewelry</option>-->
    <!--<option value="dinner">Cars and Autoparts</option>-->
    <!--<option value="dinner">Other Random Items</option>-->
    <!--</select>-->
    <!--</div>-->
    <!--<div class="row">-->
    <!--<form action="">-->
    <!--<label>Pickup Type:</label>-->
    <!--<select>-->
    <!--<option value="sit-down">Home</option>-->
    <!--<option value="togo">Location</option>-->
    <!--</select>-->
    <!--</form>-->
    <!--</div>-->
    <!--<div class="row">-->
    <!--<form action="">-->
    <!--<label>Cost:</label>-->
    <!--<select>-->
    <!--<option value="free">Free</option>-->
    <!--<option value="volunteer">Volunteer</option>-->
    <!--<option value="0to5">$[0-50]</option>-->
    <!--<option value="5to10">$$[51-100]</option>-->
    <!--<option value="10plus">$$$[100+]</option>-->
    <!--</select>-->
    <!--<label>Delivery:</label>-->
    <!--<input type="radio" name="yes" value="yes"> Yes-->
    <!--<input type="radio" name="no" value="no"> No-->
    <!--</form>-->
    <!--</div>-->
    <!--<div class="row">-->
    <!--<button id="leftSubNavBarButton" type="submit" class="btn btn-submit text-center">Find</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="tab-content">-->
    <!--<div id="3b" class="tab-pane fade in active">-->
    <!--<div class="row">-->
    <!--<button id="offer3" type="submit" class="btn btn-submit text-center">Offer</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash;End of Goods Tab&ndash;&gt;-->

    <!--&lt;!&ndash;Beginning of Pet Services Tab&ndash;&gt;-->

    <!--<div id="petsTab" style="display:none">-->
    <!--<p id="foodExchange" style="font-size: 16px;"><strong>Pets</strong></p>-->
    <!--<hr id="leftSub">-->
    <!--<ul class="nav nav-tabs">-->
    <!--<li><a data-toggle="tab" href="#4a" >Find</a></li>-->
    <!--<li class="active"><a data-toggle="tab" href="#4b" >Offer</a></li>-->
    <!--</ul>-->

    <!--<div class="tab-content">-->
    <!--<div id="4a" class="tab-pane fade">-->
    <!--<div class="row">-->
    <!--</div>-->
    <!--<div class="row">-->
    <!--<button id="leftSubNavBarButton4" type="submit" class="btn btn-submit text-center">Find</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="tab-content">-->
    <!--<div id="4b" class="tab-pane fade in active">-->
    <!--<div class="row">-->
    <!--<button id="offer4" type="submit" class="btn btn-submit text-center">Offer</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash;End of Pet Services Tab&ndash;&gt;-->

    <!--&lt;!&ndash;Beginning of Ride Share Tab&ndash;&gt;-->

    <!--<div id="ridesTab" style="display:none">-->
    <!--<p id="foodExchange" style="font-size: 16px;"><strong>Ride Share</strong></p>-->
    <!--<hr id="leftSub">-->
    <!--<ul class="nav nav-tabs">-->
    <!--<li><a data-toggle="tab" href="#5a" >Find</a></li>-->
    <!--<li class="active"><a data-toggle="tab" href="#5b" >Offer</a></li>-->
    <!--</ul>-->

    <!--<div class="tab-content">-->
    <!--<div id="5a" class="tab-pane fade">-->
    <!--<div class="row">-->
    <!--</div>-->
    <!--<div class="row">-->
    <!--<button id="leftSubNavBarButton5" type="submit" class="btn btn-submit text-center">Find</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="tab-content">-->
    <!--<div id="5b" class="tab-pane fade in active">-->
    <!--<div class="row">-->
    <!--<button id="offer5" type="submit" class="btn btn-submit text-center">Offer</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash;End of Ride Share Tab&ndash;&gt;-->

</div>
<!--End of Lower Left Navigation Bar-->

<!--Beginning of Main Feed Section-->
<div class="midFeed">
    <ul style="list-style: none;">
        <li class="listPost">
            <div class="row">
                <div class="alignImage col-md-2">
                    <img src="meal_offered.png" style="width: 80px; height: 80px;">
                </div>
                <div class="col-md-10">
                    <p class="paraContainer">
                        <a href="#">Meal Offered: "French Night Chez Moi"</a><br>
                        3-21-17 •
                        Event: Soiree •
                        Type: Sit-down • <br>
                        Cost: $$ •
                        Accomodate Allergies? : Yes •
                        Location: University<br>
                        Dietary Options: Vegetarian, Vegan, Locally Grown
                    </p>
                </div>
            </div>
        </li>

        <li class="listPost">
            <div class="row">
                <div class="alignImage col-md-2">
                    <img src="VN_Icon.jpg" style="width: 80px; height: 80px;">
                </div>
                <div class="col-md-10">
                    <p class="paraContainer">
                        <a href="#">Meal Offered: "French Night Chez Moi"</a><br>
                        3-21-17 •
                        Event: Soiree •
                        Type: Sit-down • <br>
                        Cost: $$ •
                        Accomodate Allergies? : Yes •
                        Location: University<br>
                        Dietary Options: Vegetarian, Vegan, Locally Grown
                    </p>
                </div>
            </div>
        </li>

        <li class="listPost">
            <div class="row">
                <div class="alignImage col-md-2">
                    <img src="glutenFree.png" style="width: 80px; height: 80px;">
                </div>
                <div class="col-md-10">
                    <p class="paraContainer">
                        <a href="#">Meal Offered: "French Night Chez Moi"</a><br>
                        3-21-17 •
                        Event: Soiree •
                        Type: Sit-down • <br>
                        Cost: $$ •
                        Accomodate Allergies? : Yes •
                        Location: University<br>
                        Dietary Options: Vegetarian, Vegan, Locally Grown
                    </p>
                </div>
            </div>
        </li>
    </ul>

    <div id="searchBarContainer">
        <table id="searchBar" align="center">
            <tr>
                <td>
                    <a href="#"><strong>&lt;&lt;</strong></a>
                </td>
                <td>
                    <a href="#"><strong>prev</strong></a>
                </td>
                <td>
                    <a href="#"><strong>1-3</strong></a>
                </td>
                <td>
                    <a href="#"><strong>next</strong></a>
                </td>
                <td>
                    <a href="#"><strong>&gt;&gt;</strong></a>
                </td>
            </tr>
        </table>
    </div>

</div>
<!--End of Main Feed Section-->

<!--Beginning of Top Right Navigation Section-->
<div id="rightNavBar" class="col-md-3"><br>
    <p id="profileBar"><strong>My Profile</strong></p>
    <hr class="navLine">
    <div id="studentInfoContainer" class="row">
        <div class="col-md-5">
            <img src="michelle.png" style="width: 140px; height: 140px;">
            <p>Name: Michelle O.</p>
        </div>
       
        <div id="studentInfo" class="col-md-7">
            <p>Studies at: Mills College</p>
            <p>Lives in: Oakland, CA</p>
            <p>Diet: Hot Cheetos</p>
            <p>Allergies: Haters</p>
            <p>Pet Owner: 1 Dog, 2 Cats, 1 Bird</p>
        </div>
    </div>
</div>
<!-- End of Top Right Navigation Section-->

<div id="rightMap" class="">
    <div id="mapLocationTitle" class="col-md-12">
        <strong>My Location</strong>
    </div>
    <img id="map" src="map.png">
</div>
    
</body>
</html>
