extends layout_navigation

block content
	.container-fluid
		.wrapper.mainForm
			br
			h1(style="font-family: 'Satisfy', cursive;") Universal Student Collective
			input.form-control(type='text', name='Username', placeholder='Search', autofocus='')
			br
			.btn-group.btn-group-justified
				.btn-group
					button.btn.btn-success(name='findService', value='findService', type='button') Find Service
				.btn-group
					button.btn.btn-warning(name='offerService', value='offerService', type='button') Offer Service



//Test2 Roberto