extends layout_navigation

block content
	.container-fluid
		.wrapper.mainForm2
			h1.centered Pet Services
			.container
				.col-md-8
					// Tabs
					.tab-v1
						ul.nav.nav-tabs
							li.active
								a(href='#tab-1', data-toggle='tab', aria-expanded='true') Search for Services
							li
								a(href='#tab-2', data-toggle='tab', aria-expanded='false') Offer Services
							//
								<li class>
								<a href="#tab-3" data-toggle="tab" aria-expanded="false">Tab 3</a>
								</li>
						.tab-content(style='border:solid 1px #ddd; border-radius: 4px;')
							// Tab 1 Content
							#tab-1.tab-pane.fade.active.in
								form(method='post', action='')
									header.petform What do you need?
									fieldset
										section.col.col-4.pet.centered
											button.btn.btn-default.btn-lg(type='button')
												span.glyphicon.glyphicon-road
												|  Dog Walking
											button.btn.btn-default.btn-lg(type='button')
												span.glyphicon.glyphicon-home
												|  House Sitting
											button.btn.btn-default.btn-lg(type='button')
												span.glyphicon.glyphicon-tint
												|  Drop-In Visits
											button.btn.btn-default.btn-lg(type='button')  Other
										section.col.col-4.pet
											.row.pet
												.col.col-lg-6.col-md-6.col-sm-6
													h4(style='display:block;') My school
													input.petform(type='text', placeholder='College or University')
													.btn-group(role='group', style='vertical-align:top;')
														button.btn.btn-default I live...
														button.btn.dropdown-toggle.btn-default(data-toggle='dropdown')
															span.caret
														ul.dropdown-menu
															li On-Campus
															li Off-Campus
												.col.col-lg-6.col-md-6.col-sm-6
													h4(style='display:block;') Address
													input.petform(type='text', placeholder='Enter your address or zip code')
										section.col.col-4.pet
											.row.pet
												.col.col-lg-6.col-md-6.col-sm-6
													h4(style='display:block;') Dog Size
													button.btn.btn-default.btn-md(type='button') Small
													button.btn.btn-default.btn-md(type='button') Medium
													button.btn.btn-default.btn-md(type='button') Large
													button.btn.btn-default.btn-md(type='button') Giant
												.col.col-lg-6.col-md-6.col-sm-6
													h4(style='display:block;') For these days:
													.btn-group.btn-group-sm(role='group')
														button.btn.btn-default(type='button') S
														button.btn.btn-default(type='button') M
														button.btn.btn-default(type='button') T
														button.btn.btn-default(type='button') W
														button.btn.btn-default(type='button') T
														button.btn.btn-default(type='button') F
														button.btn.btn-default(type='button') S
												// /.row
										section.col.col-4.pet.centered
											a.btn.btn-primary.btn-lg(href='/providers')
												span.glyphicon.glyphicon-search
												|  Go!
							// End Tab 1 Content
							// Tab 2 Content
							#tab-2.tab-pane.fade
								form(action='')
									header.petform What can you do?
									fieldset
										section.col.col-4.pet.centered
											button.btn.btn-default.btn-lg(type='button')
												span.glyphicon.glyphicon-road
												|  Dog Walking
											button.btn.btn-default.btn-lg(type='button')
												span.glyphicon.glyphicon-home
												|  House Sitting
											button.btn.btn-default.btn-lg(type='button')
												span.glyphicon.glyphicon-tint
												|  Drop-In Visits
											button.btn.btn-default.btn-lg(type='button')  Other
										section.col.col-4.pet
											.row.pet
												.col.col-lg-6.col-md-6.col-sm-6
													h4(style='display:block;') My school
													input.petform(type='text', placeholder='College or University')
													.btn-group(role='group', style='vertical-align:top;')
														button.btn.btn-default I live...
														button.btn.dropdown-toggle.btn-default(data-toggle='dropdown')
															span.caret
														ul.dropdown-menu
															li On-Campus
															li Off-Campus
												.col.col-lg-6.col-md-6.col-sm-6
													h4(style='display:block;') Do you have a car?
													.btn-group(role='group', style='vertical-align:top;')
														button.btn.dropdown-toggle.btn-default(data-toggle='dropdown')
															span.caret
														ul.dropdown-menu
															li Yes
															li No
										section.col.col-4.pet
											.row.pet
												.col.col-lg-6.col-md-6.col-sm-6
													h4(style='display:block;') Comfortable with dogs that are
													button.btn.btn-default.btn-md(type='button') Small
													button.btn.btn-default.btn-md(type='button') Medium
													button.btn.btn-default.btn-md(type='button') Large
													button.btn.btn-default.btn-md(type='button') Giant
												.col.col-lg-6.col-md-6.col-sm-6
													h4(style='display:block;') For these days:
													.btn-group.btn-group-sm(role='group')
														button.btn.btn-default(type='button') S
														button.btn.btn-default(type='button') M
														button.btn.btn-default(type='button') T
														button.btn.btn-default(type='button') W
														button.btn.btn-default(type='button') T
														button.btn.btn-default(type='button') F
														button.btn.btn-default(type='button') S
												// /.row
										section.col.col-4.pet.centered
											a.btn.btn-primary.btn-lg(href='/providers')
												span.glyphicon.glyphicon-search
												|  Go!

script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')


