extends layout_navigation

block content
		.container-fluid
			.wrapper.mainForm
				br
				h1(style="font-family: 'Satisfy', cursive;") Universal Student Collective
				h3(style="font-family: 'Satisfy', cursive;") Pet Services
					ul.nav.nav-tabs
						li.active
							a(data-toggle='tab', href='#find_services') Find Services
						li
							a(data-toggle='tab', href='#offer_services') Offer Services
					.wrapper
						form(action='')
							button.btn.btn-default.btn-lg(type='button')
								span.glyphicon.glyphicon-road
								|  Dog Walking
							button.btn.btn-default.btn-lg(type='button')
								span.glyphicon.glyphicon-home
								|  House Sitting
							button.btn.btn-default.btn-lg(type='button')  Drop-In Visits
							button.btn.btn-default.btn-lg(type='button')  Other

		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
		script(src='/bootstrap/js/bootstrap.min.js')
