extends layout_navigation

block content
  .container-fluid
    .wrapper.mainForm2  
      .row
        .col-xs-12.col-sm-8
          .row.list-group
            .col-xs-12.list-group-item
              h4
                a(href='/location') Rick Sanchez
                small &nbsp;
                  span.glyphicon.glyphicon-star
                  span.glyphicon.glyphicon-star
                  span.glyphicon.glyphicon-star
                  span.glyphicon.glyphicon-star-empty
                  span.glyphicon.glyphicon-star-empty
                span.badge.pull-right.badge-default 100m
              p.address 3122 Madera Ave, Oakland, CA 94619
              p
                span.label.label-warning Certified
                | &nbsp;
                span.label.label-warning Small Dogs
                | &nbsp;
                span.label.label-warning Medium Dogs
                | &nbsp;
            .col-xs-12.list-group-item
              h4
                a(href='/location') John Oliver
                small &nbsp;
                  span.glyphicon.glyphicon-star
                  span.glyphicon.glyphicon-star
                  span.glyphicon.glyphicon-star
                  span.glyphicon.glyphicon-star
                  span.glyphicon.glyphicon-star-empty
                span.badge.pull-right.badge-default 200m
              p.address 125 High Street, Reading, RG6 1PS
              p
                span.label.label-warning All sizes of Dog
                | &nbsp;
                span.label.label-warning Animal First Aid
                | &nbsp;
                span.label.label-warning Trainer
                | &nbsp;
            .col-xs-12.list-group-item
              h4
                a(href='/location') Beyonce
                small &nbsp;
                  span.glyphicon.glyphicon-star
                  span.glyphicon.glyphicon-star
                  span.glyphicon.glyphicon-star
                  span.glyphicon.glyphicon-star
                  span.glyphicon.glyphicon-star
                span.badge.pull-right.badge-default 250m
              p.address 125 High Street, Reading, RG6 1PS
              p
                span.label.label-warning Certified
                | &nbsp;
                span.label.label-warning Small Dogs
                | &nbsp;
                span.label.label-warning Yas Queen
                | &nbsp;
        .col-xs-12.col-sm-4
          p.lead
            | Look through our list of qualified service providers.